a {
	text-decoration:none;
}
header {
	position: relative;
	height: 50px;
}

nav {
	position: fixed;
	height: 50px;
	background-color: #212121;
	width: 100%;
	z-index: 5;
}

.burger {
	display: none;
}

.menu {
	display: flex;
	justify-content: space-between;
	padding: 13px 70px;
	margin: 0;
	list-style: none;
	&_link {
		color: $whitetext_color;
		font-size: 15px;
		font-weight: 300;
		@include hover_a2;
	}
	&_item {
		border-right: 2px dotted #040404;
		padding-right: 28px;
		&:last-child {
			border: none;
		}
  	}
}

.subheader {
	position: absolute;
	width: 100%;
	height: 84px;
	top: 50px;
	background-color: rgba(0, 0, 0, 0.6);
	&_logo {
		max-width: 100%;
		margin-top: 16px;
		display: block;
  	}
  	&_descr {
		color: $whitetext_color;
		font-size: 13px;
		font-weight: 400px;
		opacity: 0.5;
		margin-top: 6px;
  	}
  	&_call {
		color: $whitetext_color;
		font-size: 12px;
		font-weight: 300;
		margin-top: 22px;
		text-align: right;
  	}
  	&_phone {
		display: block;
		margin-top: 8px;
		color: $whitetext_color;
		font-size: 22px;
		font-weight: 400;
		text-transform: uppercase;
		text-align: right;
		line-height: 12px;
		transition: ease-in-out 0.3s;
		@include hover_a;
  	}
  	&_btn {
		margin-top: 19px;
		width: 172px;
		height: 46px;
		outline: none;
		box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.12);
		border-radius: 6px;
		border-color: rgba(0, 0, 0, 0);
		background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
		color: $whitetext_color;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		transition: 0.5s ease-in-out;
		cursor: pointer;
		@include hover_btn;
  	}
}

.promo {
	padding: 150px 0 135px 0;
	min-height: 800px;
	background: url("../img/main_bg_uber.jpg") center (center / cover) no-repeat;
  	&_header {
		text-align: center;
		color: $whitetext_color;
		font-size: 60px;
		font-weight: 700;
		line-height: 60px;
		margin: 0;
	}

  	&_subheader {
		text-align: center;
		color: $whitetext_color;
		font-size: 36px;
		line-height: 36px;
		margin-top: 22px;
		margin-bottom: 0;
		font-weight: 700;
  	}

 	&_text {
		color: $whitetext_color;
		font-size: 18px;
		margin-top: 23px;
		line-height: 24px;
		text-align: center;
		font-weight: 400;
	}

  	&_btn {
		display: block;
		margin: 0 auto;
		margin-top: 119px;
		text-transform: uppercase;
		width: 259px;
		height: 63px;
		box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.12);
		border-radius: 4px;
		border-color: rgba(0, 0, 0, 0.07);
		background-image: linear-gradient(to top, $main_color 0%, #4ce2ff 100%);
		color: $whitetext_color;
		font-size: 18px;
		font-weight: 400;
		transition: 0.5s;
		cursor: pointer;
		outline: none;
		@include hover_btn;
	}
}

.label {
	font-size: 11px;
	color: $whitetext_color;
	background-color: #000;
	padding: 6px 12px;
	width: 112px;
	height: 24px;
	margin: 0 auto;
	text-transform: uppercase;
	text-align: center;
	&_white {
		background-color: $whitetext_color;
		color:#000
	}
	&_cities {
		width: 76px;
	}
}

.title {
	font-size: 38px;
	color: #222222;
	font-weight: 700;
	text-align: center;
	margin-top: 39px;
	text-transform: uppercase;
	&_white {
		color:$whitetext_color;
	}
}

.subtitle {
	font-weight: 400;
	font-size: 17px;
	color: $blacktext_color;
	text-align: center;
	margin-top: 19px;
	&_white {
		color:$whitetext_color;
	}
}

.reasons {
  	padding: 71px 0 66px 0;
	&_item {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 35px;
	}
	&_round {
		border-radius: 100%;
		background-color: $main_color;
		width: 114px;
		height: 114px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 26px;
	}
  	&_descr {
		width: 343px;
	}
	&_title {
		color: $main_color;
		font-weight: 400;
		font-size: 17px;
	}
	&_text {
		font-weight: 300;
		font-size: 15px;
		line-height: 21px;
	}

}

.mobile {
	min-height: 864px;
	padding: 48px 0 79px 0;
	background: url("../img/second_bg_uber.jpg") center (center / cover) no-repeat;
	.row {
		margin-top: 32px;
	}
	&_item {
		width: 320px;
		height: 280px;
		margin: 0 auto;
		margin-bottom: 19px;
		padding-top: 92px ;
		position: relative;
		&_1 {
			background: url("../img/1_touch_offer.jpg") center (center / cover) no-repeat;
		}
		&_2 {
			background: url("../img/2_relaible.jpg") center (center / cover) no-repeat;
		}
		&_3 {
			background: url("../img/3_clear_prices.jpg") center (center / cover) no-repeat;
		}
		&_4 {
			background: url("../img/4_online_payment.png") center (center / cover) no-repeat;
		}
		&_5 {
			background: url("../img/5_feedback.jpg") center (center / cover) no-repeat;
		}
		&_6 {
			background: url("../img/6_separare_bill.jpg") center (center / cover) no-repeat;
		}
		&_subtitle {
			font-size: 24px;
			font-weight: 400;
			text-transform: uppercase;
			text-align: center;
			color:$whitetext_color;
		}
		&_plus {
			width: 26px;
			height: 26px;
			position: absolute;
			bottom: 35px;
			left: 50%;
			transform: translateX(-50%);
			border-radius: 100%;
			background-color: #000;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
			cursor: pointer;
			
			&:before {
				content: '';
				display: block;
				width: 14px;
				background-color: $main_color;
				height: 2px;
				transition: 0.5 all;
			}
			&:after {
				content: '';
				position: absolute;
				left:50%;
				transform: translateX(-50%);
				display: block;
				height: 14px;
				width: 2px;
				background-color: $main_color;
				transition: 0.5 all;
			}
			&:hover {
				&:before, &:after {
					background-color: $second_color;
				}
			}
		}	
	}	
}	

.choice {
	padding: 56px 0 138px 0;
	background: #070716 url("../img/second_bg_uber.jpg") bottom center/100% 44.5% no-repeat;
	min-height: 896px;
	&_img {
		display: block;
		margin: 0 auto;
		margin-top: 55px;
	}
	&_text {
		font-size: 17px;
		font-weight: 300;
		color: $blacktext_color; 
		text-align: center;
	}
}

.require {
	padding: 69px 0 85px 0;
	&_block {
		margin: 33px;
		&_nmb {
			margin-bottom: 0px;
		}
	}
	&_header {
		color: #1ca8c3;
		font-size: 22px;
		font-weight: 400;
		&_red {
			color: $second_color;
		}
	}
	&_list {
		list-style-type: none;
		padding-left: 50px;
		margin-top: 21px;	
		li {
			font-weight: 300;
			font-size: 17px;
			margin-bottom: 10px;
			line-height: 24px;
			position: relative;
			&:before {
				content: '';
				display: block;
				width: 21px;
				height: 20px;
				background: url('../img/icons/blue_round.svg') center (center / cover) no-repeat;
				position: absolute;
				top: 2px;
				left: -32px;
			}
		}	
		&_red {
			li {
				&::before {
					background: url('../img/icons/crab_round.svg') center (center / cover) no-repeat;
				}
			}
		}
	}
	span {
		margin-top: 25px;
		font-size: 17px;
		font-weight: 300;
		line-height: 24px;
		color: #1ca8c3;
	}
}

.world {
	padding: 49px 0;
	background: url('../img/map_bg_uber.jpg') center (center / cover) no-repeat;
	min-height: 718px;
	position: relative;
	&_cities {
		text-align: center;
		text-transform: uppercase;
		position: absolute;
		left:50%;
		transform: translateX(-50%);
		bottom: 49px;
	}
	&_link {
		display: block;
		color: #1fbad6;
		@include hover_a;

	}
}

footer:after {
	content: '';
	display: block;
	width: 100%;
	height: 8px;
	background-color:#070716;
}

.footer {
	min-height: 156px;
	padding: 14px 23px 0px 23px; 
	&_divider {
		width: 300px;
		height: 4px;
		margin: 0 auto;
		background-color: #1fbad6;
	}
	&_wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding-top: 32px;
	}
	&_wrapper > div {
		width: 33%;
		&:nth-child(3) {
			display: flex;
			justify-content: flex-end;
			}
		}
	&_links {
		text-align: center;
		text-transform: uppercase;
		width: 390px;
		margin: 0 auto;
		&_main {
			display: flex;
			justify-content: space-between;
			padding: 0 10px;
			a {
				color: #070716;
				font-size: 15px;
				font-weight: 400;
				@include hover_a2;
			}
		}
		&_sub {
			display: flex;
			justify-content: space-between;
			margin-top: 15px;
			a {
				color: #999999;
				font-size: 11px;
				font-weight: 400;
				@include hover_a2;
			}
		}
		&_language {
			display: flex;
			justify-content: center;
			margin-top: 19px;
			color: #1fbad6;
			font-size: 11px;
			@include hover_a;
		}
	}
	&_social {
		display: flex;
		width: 160px;
		justify-content: space-between;
		
		&_round {
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 100%;
			background-color: #070716;
			width: 32px;
			height: 32px;	
			color: #fff;
			@include hover_a2;
				&:hover {
					transform: scale(1.1);
				}
			}	
		}
	&_app {
		&_img {
		width: 94px;
			&:hover {
				box-shadow: 0 0 10px rgba(0,0,0,0.5); ;
			}
		}	
	}
}

.dark {
	position: absolute;
	width: 1924px;
	background-color: #070716;
	height: 8px;
	margin-top: 30px;
	left: -21px;
}

.xs-visible {
	display: none;
}