@media (max-width: 1200px) {
    .menu {
        &_item {
            padding-right: 20px;
        }
        &_link {
            font-size: 13px;
        }
    }
    .promo {
        &_header {
            font-size: 50px;
        }
    }
    .reasons {
        &_item {
            align-items: flex-start;
        }
        &_descr {
            width: 300px;
        }
    }
    .mobile {
        min-height: 834px;
        padding-bottom: 30px;
        &_item {
            width: 290px;
            height: 250px ;
            &_subtitle {
                font-size: 18px;
            }
        }   
    }
    .require {
        padding-bottom: 30px;
    }
    .world {
        min-height: 500px ;
    }

    .footer {
        &_wrapper > div {
            width: 25%;
            &:nth-child(2) {
                width: 50%;
                }
        }    
    }
}

@media (max-width: 992px - 1) {
    .menu {
        &_item {
            padding-right: 8px;
        }
        &_link {
            font-size: 10px;
        }
    }
    .subheader {
        &_logo {
            img {
                width: 100%;
            }
        }
        &_descr {
            font-size: 11px;
        }
        &_phone {
            font-size: 18px;
        }
        &_btn {
            width: 100%;
            height: 40px;
            margin-top: 21px;
        }
    }
    .promo {

        &_header {
            font-size: 40px;
        }
        &_subheader {
            font-size: 30;
        }
    }
    .reasons {
        &_item {
            flex-direction: column;
            align-items: center;
        }
        &_descr {
            width: 300px;
            margin-top: 20px;
        }
        &_round {
            margin-right: 0;
        }
        &_title {
            line-height: 18px;
        }
        &_text {
            margin-top: 8px;
        }
    }
    .choice {
        min-height: 730px;
        padding-bottom: 0px;
        &_img {
            width: 100%
        }
    }
    .title {
        font-size: 30px;
        margin-top: 29px;
    }
    .footer {
        &_wrapper {
            flex-wrap: wrap;
        }
        &_wrapper > div {
            width: 100%;
            display: flex ;
            justify-content: center;
            margin-bottom: 20px;
            &:nth-child(1) {
                width: 100%
            }
            &:nth-child(2) {
                width: 100%;
            }
            &:nth-child(3) {
                width: 100%;
                justify-content: center; 
            }

        }

    }

}

@media (max-width: 768px - 1) {
    .menu {
		position: fixed;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: 0;
		left: -100%;
		width: 50%;
		height: 100vh;
		padding: 20px 15px;
		background-color: rgba(0,0,0, .95);
		transition: 0.6s all;
        &_active {
            left: 0;
        }
        &_item {
            padding-right: 0;
            border: none;
            margin-top: 15px;
        }
        &_link {
            font-size: 20px;
        }
    }
    .burger {
        display: block;
        position: absolute;
        right: 10px;
        top:50%;
        transform: translateY(-50%);
        width: 30px;
        height: 21px;
        span {
            display: block;
            height: 2px;
            width: 100%;
            background-color: $whitetext_color;
            margin-bottom: 5px;
            transition: 0.4s all;
        }
        &_active {
            span {
                margin-bottom:-2px ;
                &:nth-child(1){
                    transform: translateY(5px) rotate(-45deg);
                }
                &:nth-child(2){
                    display: none;
                }
                &:nth-child(3){
                    transform: translateY(5px) rotate(45deg);
                }
            }
        }
    }
    .title {
		margin-top: 25px;
    }
    .xs-hidden {
        display: none;
    }

    .xs-visible {
        display: block;
    }
    .subheader {
        &_phone {
            display: block;
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
            color: $whitetext_color;
            text-align: center;
            margin-top: 10px;
        }
        &_btn {
            display: block;
            width: 200px;
            height: 40px;
            margin: 0 auto;
            margin-top: 10px;
            font-size: 13px;
            &:hover {
                background-image: linear-gradient(to top, $main_color 0%, #4ce2ff 100%);
            }
        }
        &_logo {
            display: block;
            margin-top: 16px;
        }
    }
    .promo {
        padding-bottom: 90px;
        &_header {
            line-height: 45px;
        }
        &_subheader {
            font-size: 30px;
            margin-top: 30px;
        }
        &_btn {
            margin-top: 70px;
            &:hover {
                background-image: linear-gradient(to top, $main_color 0%, #4ce2ff 100%);
            }
        }
    }
    .choice {
        min-height: 630px;
        background-position: bottom center ;
        background-size: 100% 30%;
    }
}

@media (max-width: 576px - 1) {
    nav {
        height: 30px;
    }
    header {
        height: 30px;
    }
    .subheader {
        top: 30px;
        height: 60px;
        &_descr {
            display: none;
        }
        &_logo {
            margin-top: 23px;
        }
        &_phone {
            font-weight: 400;
            font-size: 12px;
            text-transform: uppercase;
            margin-top: 11px;
        }
        &_btn {
            margin-top: 6px;
            width: 112px;
            height: 22px;
            font-size: 10px;
        }
    }
    .promo {
        min-height: 400px;
        padding: 93px 0 35px 0;
        &_text {
            display: none;
        }
        &_header {
            font-size: 30px;
            padding: 0 22px;
            line-height: 35px;
        }
        &_subheader {
            font-size: 20px;
            margin-top: 33px;
            padding: 0 10px;
            line-height: 30px;
        }
        &_btn {
            width: 210px;
            height: 50px;
            font-size: 16px;
        }
    }
    .menu {
        width: 85%;
        opacity: 1;
        &_item {
            width: 100%;
            text-align: center;
            padding: 5px 0;
        }
        &_link {
            display: block;
        }
    }
    .burger {
        width: 25px;
        height: 12px;
    }
    .label {
        font-weight: 100;
    }
    .title {
        font-size: 15px;
        margin-top: 15px;
        line-height: 15px;
    }
    .subtitle {
        font-size: 14px;
        margin-top: 11px;
    }
    .reasons {
        padding: 22px 0 49px 0;
        &_item {
            margin-top: 25px;
        }
        &_round {
            width: 100px;
            height: 100px;
        }
        &_descr {
            width: 100%;
            margin-top: 27px;
        }
        &_title {
            font-size: 16px;
        }
        &_text {
            margin-top: 0;
        }
    }
    .mobile {
        padding: 22px 0 43px 0;
        .row {
            margin-top: 27px;
        }
        &_item_subtitle {
            padding: 0 25px;
            line-height: 33px;
        }
    }
    .choice {
        min-height: 390px;
        padding: 25px 0 33px 0;
        background: #070716;
        .title {
            display: none;
        }
        .subtitle {
            display: none;
        }
        &_img {
            margin-top: 35px;
        }
        &_text {
            font-size: 17px;
            color: $whitetext_color;
            line-height: 1.4;
            margin-top: 28px;
        }
    }
    .require {
        padding: 25px 0;
        &_block {
            margin: 22px 0 0 0;
            span {
                line-height: 17px;
                font-size: 14px;
            }
        }
        &_list {
            padding-left: 30px;
            margin: 12px 0 0 0;
            li {
                font-size: 14px;
            }
        }
        &_header {
            font-size: 16px;
        }
    }
    .world {
        min-height: 360px;
        padding: 25px 0 30px 0;
        &_cities {
            width: 100%;
            bottom: 30px;
        }
        &_link {
            font-size: 15px;
        }
    }
    .footer {
        padding: 25px 20px 20px 20px;
        &_wrapper {
            padding-top: 22px;
        }
        &_divider {
            width: 254px;
        }
        &_links {
            width: 290px;
        }
        &_links_main {
            padding: 0;
            a {
                font-size: 14px;
                font-weight: 300;
            }   
        }
        &_links_sub {
            padding: 0 30px ;
            line-height: 24px;
            flex-wrap: wrap;
            }
        &_links_language {
            margin-top: 8px;
        }
        &_wrapper > div {
            width: 100%;
            display: flex ;
            justify-content: center;
            margin-bottom: 20px;
            &:nth-child(1) {
                order: 2;
            }
            &:nth-child(2) {
                order: 1;
            }
            &:nth-child(3) {
                order: 3;
                margin-bottom: 0;
            }

        }
    
    }
    footer::after {
        content: "";
        height: 0;
    }
}
